out.pdf
out.tex
*.aux
*.bcf
*.blg
*.bbl
*.dvi
*.fls
*.fdb_latexmk
*.lof
*.log
*.lot
*.out
*.toc
*.run.xml
*.synctex.gz
*.pdf
*.xdv

itky4000/diary-4.pdf

.ipynb_checkpoints/
ties483/input.txt
ties483/output.txt

ties594/**/html/
