out.tex
*.pdf
*.aux
*.bcf
*.blg
*.bbl
*.dvi
*.fls
*.fdb_latexmk
*.lof
*.log
*.lot
*.out
*.toc
*.run.xml
*.synctex.gz
*.xdv
*-figure*.md5
*.auxlock
*.nav
*.snm

.ipynb_checkpoints/
__pycache__
ties483/input.txt
ties483/output.txt

ties594/**/html/
doc_data.txt

